{
    "presets": ["es2015", "stage-3"],
    "plugins": [
        "babel-plugin-rewire",
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }]
    ],
    "env": {
        "development": {
          "presets": [
            "power-assert"
          ]
        }
    }
}
